body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}

.titre{
    text-align: center;
}

.main{
    display: table;
    margin: 0 auto;
    text-align: center;
}

.left{
    float: left;
    padding: 25px;
}

.righ{
    float: right;
    padding: 25px;
}

.logo1{
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 0px;
}

.logoIDA{
    float: right;
    height: 200px;
    margin-top: 0px;
}

.logo2{
    float: right;
    width: 100px;
    height: 100px;
    margin-top: 0px;
}

img{
    width: 300px;
    height: 290px;
}

.certificat{
    margin: 0 auto;
    padding: 20px;
    border: 5px solid orange;
    text-align: center;
    height: 600px;
    
}

.vide{
    background-color: black;
    border: 2px solid black;
    width: 75%;
    display: block;
    height: 0px;
    margin: 0 auto;
}

.entete{
    color: orange;
    font-size: 40px;
}

p{
    padding: 2px;
}

h3{
    font-style: italic;
    font-weight: bold;
    font-family: ALGERIAN;
    color: orange;
    font-size: 25px;
}